/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,400&display=swap');

:root {
    font-family: Raleway, sans-serif;
    --main-bg-color: #333;
    --box-color: #555;
    --main-txt-color: #fff;
    --placeholder-color: #333;
}

::placeholder {
    color: var(--placeholder-color);
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
h1 {
    font-size: 2rem;
    color: var(--main-txt-color);
    text-align: center;
}
main {
    display: flex;
    background-color: var(--box-color);
    border-radius: 5%;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(33,33,33,0.71); 
    box-shadow: 0px 0px 12px 5px rgba(33,33,33,0.71);
    width: 50vw;
    height: 50vw;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.inputs input {
    text-align: center;
    width: 10em;
    height: 1.5em;
    border-radius: 0.5em;
    border: none;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    color: var(--placeholder-color);
    background-color: #fff;
    cursor: default;
}

input:focus {
    outline: none;
}

.inputs label {
    font-style: italic;
    text-align: center;
    color: var(--main-txt-color);
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 50%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error {
    color: var(--main-txt-color);
}

@media (max-width: 570px) {
    main {
        width: 80vw;
        height: 80vw;
    }
}

@media (orientation: landscape) {
    main {
      width: 90vh;
      height: 90vh;
    }
  }